/* Estilos para el video de fondo */
#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1; /* Colocar el video detrás del contenido */
}

/* Estilos para el contenedor del formulario */
.login-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Ancho máximo para el formulario */
}

/* Ajustes para el título */
.login-box h2 {
    font-size: 28px;
    font-weight: bold;
    color: #021e4a; /* Color azul oscuro para el título */
    margin-bottom: 30px;
    line-height: 1.5; /* Espaciado entre líneas */
}
