body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar h2,
.navbar h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bg-sgd {
    background: linear-gradient(90deg, #013B84 0%, #1E9ADA 100%);
}