<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte de Trámite</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="./css/sgdredes.css">
</head>

<body>
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-sgd">
            <div class="container-fluid d-flex justify-content-between align-items-center p-0">
                <!-- Logo SGD Redes -->
                <div class="d-flex align-items-center">
                    <img src="/assets/logoSGDredes-blanco.png" alt="SGD" class="d-block d-lg-none" style="width: 60px; height: auto;">
                    <img src="/assets/logoSGDredes-blanco.png" alt="SGD" class="d-none d-lg-block" style="width: 120px; height: auto;">
                </div>
    
                <!-- Título Centrado -->
                <div class="text-center flex-grow-1">
                    <h2 class="mb-0 text-white d-none d-lg-block">Seguimiento del trámite</h2>
                    <h3 class="mb-0 text-white d-block d-lg-none" style="font-size: 1.25rem;">Seguimiento del trámite</h3>
                </div>
    
                <!-- Logo Essalud (Visible solo en pantallas grandes) -->
                <div class="d-none d-lg-flex align-items-center justify-content-end">
                    <img src="/assets/logo-essalud-blanco.svg" alt="Essalud" width="110" height="24">
                </div>
            </div>
        </nav>
    </div>
    
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>